[submodule "CycloneTCP"]
	path = CycloneTCP
	url = https://github.com/Oryx-Embedded/CycloneTCP.git
[submodule "CycloneCRYPTO"]
	path = CycloneCRYPTO
	url = https://github.com/Oryx-Embedded/CycloneCRYPTO.git
[submodule "CycloneSSL"]
	path = CycloneSSL
	url = https://github.com/Oryx-Embedded/CycloneSSL.git
[submodule "CycloneCommon"]
	path = CycloneCommon
	url = https://github.com/Oryx-Embedded/Common.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
